header{
font-family: Impact, Haettenschweiler;
font-size: 45px;
text-align: center;
}

h1 {
   text-align: center;
}

#mynav {
  float: left;
  margin: 0;
  padding: 0;
}

#mynav ul{

   display: inline-block;
   list-style-type: none;
   height:auto;
   text-align: center;
}

#mynav li{
    display: inline-block;
    padding: 5px;
}

#mynav li a {
    text-decoration: none;
}

#mynav li:hover {
    background: lightgray;
}

#display-table {
    margin-top: 100px;
}


#order_table {
    padding-top: 30px;

}

select {
    width: 180px;
}